#logoimage{
    height: 40px;
    width: auto;
}

.navbtn{
    /* color: black; */
    text-decoration: none;
}

.alignNav{
    display: flex;
    align-items: end;
}

.introtitle{
    color: rgb(11, 53, 88);
    font-size: 67.34px;
    font-weight: 700;
}

#heroimage{
    width: 100%;
    height: 100%;

}

.herostatement{
    font-size: 20px;
    color: #476788;
}

.emailinput{
    height: 60px;
    border-radius: 20px 0px 0px 20px;
}

.radiusbtn{
    z-index: 1;
    border-radius: 20px 0px 0px 20px;
}

.nousers{
    font-size: 28px;
    color: #0B3558;
}

.advlogo{
    height: 30px;
}

.cirfoote{
    height: 30px;
    width: 30px;
}


.vertical{
    width: 3px;
    height: 200px;
    margin-left: 13px;
}

.vertext{
    margin-left: 3px;
    margin-top: 10px;
}

.individualheroimg{
    height: 450px;
}

.btnsign{
    border-radius: 15px 0px;
}

.learnmore{
    font-size: 20px;
    text-decoration: none;
}

.bgimage{
    background-image: url("img/background-4.png");
    height: 300px;
    
    
}

.btnsignlight{
    border-radius: 15px ;
}

.footerlinks a{
    text-decoration: none;
    color: #0B3558
}

.fmenu{
    color: #0B3558
}

.imgscroll{
    width: 100px;
    height: 100px;
    margin: 0px 100px ;
}

.aliglogos{
    margin-top: 50px;
}

.mrqee{
    height: 200px;
    margin-top: 20px;
    background-color: #97c4ea;
    display: flex;
    align-items: center;
}


